{% extends "layout.html" %}

{% block body %}

<style>
    .hotel-img {
        width: 20rem;
        height: 250px;
    }

    .hotel-card {
        width: 20rem;
        border: 1px solid black;
        line-height: 5px;
    }

    @media only screen and (max-width: 400px) {
        .hotel-card {
            width: 18rem;
        }

        .hotel-img {
            width: 18rem;
            height: 200px;
        }
    }
</style>

<h3 style="margin-left: 50px; margin-top: 50px;">Nereye?</h3>
<hr>
<form method="POST" action="/" style="margin-left: 50px; display: flex; flex-direction: column; gap: 20px;">
    {%csrf_token %}
    <div>
        <label>Varış Noktası: </label>
        <select name="city">
            <option value="0">Seçiniz</option>
            <option value="Adana">Adana</option>
            <option value="Adıyaman">Adıyaman</option>
            <option value="Afyonkarahisar">Afyonkarahisar</option>
            <option value="Ağrı">Ağrı</option>
            <option value="Amasya">Amasya</option>
            <option value="Ankara">Ankara</option>
            <option value="Antalya">Antalya</option>
            <option value="Artvin">Artvin</option>
            <option value="Aydın">Aydın</option>
            <option value="Balıkesir">Balıkesir</option>
            <option value="Bilecik">Bilecik</option>
            <option value="Bingöl">Bingöl</option>
            <option value="Bitlis">Bitlis</option>
            <option value="Bolu">Bolu</option>
            <option value="Burdur">Burdur</option>
            <option value="Bursa">Bursa</option>
            <option value="Çanakkale">Çanakkale</option>
            <option value="Çankırı">Çankırı</option>
            <option value="Çorum">Çorum</option>
            <option value="Denizli">Denizli</option>
            <option value="Diyarbakır">Diyarbakır</option>
            <option value="Edirne">Edirne</option>
            <option value="Elazığ">Elazığ</option>
            <option value="Erzincan">Erzincan</option>
            <option value="Erzurum">Erzurum</option>
            <option value="Eskişehir">Eskişehir</option>
            <option value="Gaziantep">Gaziantep</option>
            <option value="Giresun">Giresun</option>
            <option value="Gümüşhane">Gümüşhane</option>
            <option value="Hakkâri">Hakkâri</option>
            <option value="Hatay">Hatay</option>
            <option value="Isparta">Isparta</option>
            <option value="Mersin">Mersin</option>
            <option value="İstanbul">İstanbul</option>
            <option value="İzmir">İzmir</option>
            <option value="Kars">Kars</option>
            <option value="Kastamonu">Kastamonu</option>
            <option value="Kayseri">Kayseri</option>
            <option value="Kırklareli">Kırklareli</option>
            <option value="Kırşehir">Kırşehir</option>
            <option value="Kocaeli">Kocaeli</option>
            <option value="Konya">Konya</option>
            <option value="Kütahya">Kütahya</option>
            <option value="Malatya">Malatya</option>
            <option value="Manisa">Manisa</option>
            <option value="Kahramanmaraş">Kahramanmaraş</option>
            <option value="Mardin">Mardin</option>
            <option value="Muğla">Muğla</option>
            <option value="Muş">Muş</option>
            <option value="Nevşehir">Nevşehir</option>
            <option value="Niğde">Niğde</option>
            <option value="Ordu">Ordu</option>
            <option value="Rize">Rize</option>
            <option value="Sakarya">Sakarya</option>
            <option value="Samsun">Samsun</option>
            <option value="Siirt">Siirt</option>
            <option value="Sinop">Sinop</option>
            <option value="Sivas">Sivas</option>
            <option value="Tekirdağ">Tekirdağ</option>
            <option value="Tokat">Tokat</option>
            <option value="Trabzon">Trabzon</option>
            <option value="Tunceli">Tunceli</option>
            <option value="Şanlıurfa">Şanlıurfa</option>
            <option value="Uşak">Uşak</option>
            <option value="Van">Van</option>
            <option value="Yozgat">Yozgat</option>
            <option value="Zonguldak">Zonguldak</option>
            <option value="Aksaray">Aksaray</option>
            <option value="Bayburt">Bayburt</option>
            <option value="Karaman">Karaman</option>
            <option value="Kırıkkale">Kırıkkale</option>
            <option value="Batman">Batman</option>
            <option value="Şırnak">Şırnak</option>
            <option value="Bartın">Bartın</option>
            <option value="Ardahan">Ardahan</option>
            <option value="Iğdır">Iğdır</option>
            <option value="Yalova">Yalova</option>
            <option value="Karabük">Karabük</option>
            <option value="Kilis">Kilis</option>
            <option value="Osmaniye">Osmaniye</option>
            <option value="Düzce">Düzce</option>
        </select>
    </div>

    <div>
        <label>Giriş Tarihi: </label>
        <input type="date" name="enter">
    </div>

    <div>
        <label>Çıkış tarihi: </label>
        <input type="date" name="exit">
    </div>

    <div>
        <label>Oda Sayısı: </label>
        <input type="number" name="room">
    </div>

    <input type="submit" value="Ara" style="width: 100px;" class="btn btn-primary">
</form>

<h3 style="margin-left: 50px; margin-top: 50px;">Arama Sonuçları:</h3>
<hr>

{% if hotels %}
<div class="hotels d-flex" style="flex-wrap: wrap; gap: 100px; padding: 1cm;">
    {% for hotel in hotels %}

    <div class="hotel-card">
        <img src="{{hotel.cover_photo.url}}" alt="" class="hotel-img" style="">
        <!-- <iframe src="{{hotel.embed_link}}" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        <div style="padding: 10px;">
            {% if hotel.rating >= 9 %}
            <p><strong>{{hotel.rating}}/10</strong> Olağanüstü ({{hotel.comment_quantity}} yorum)</p>

            {% elif hotel.rating >= 7 %}
            <p><strong>{{hotel.rating}}/10</strong> İyi ({{hotel.comment_quantity}} yorum)</p>

            {% elif hotel.rating >= 5 %}
            <p><strong>{{hotel.rating}}/10</strong> Orta ({{hotel.comment_quantity}} yorum)</p>

            {% elif hotel.rating >= 3 %}
            <p><strong>{{hotel.rating}}/10</strong> Düşük ({{hotel.comment_quantity}} yorum)</p>

            {% elif hotel.rating >= 0 %}
            <p><strong>{{hotel.rating}}/10</strong> Çok Düşük ({{hotel.comment_quantity}} yorum)</p>
            {% endif %}
            <h5>{{hotel.name}}</h5>
            <p>{{hotel.city}}</p>
            <br><br><br>
            {% if price %}
            {% if request.user.is_authenticated %}
            <div id="price" style="display: flex; gap: 10px;">
                <p style="font-size: 20px;">{% widthratio price 1 hotel.discounted_price%}</p>
                <p style="text-decoration: line-through; font-size: 17px;">{% widthratio price 1 hotel.price %} TL</p>
            </div>
            {% else %}
            <p style="font-size: 20px;">{% widthratio price 1 hotel.price %} TL</p>
            {% endif %}
            <p style="font-size: 13px;">{{days}} gün için</p>
            <p style="font-size: 13px;">Gecelik {{hotel.price}}</p>
            <p style="font-size: 13px;">vergiler ve ücretler dahildir</p>
            {% else %}
            <p style="font-size: 20px;">Gecelik {{hotel.price}} TL</p>
            <p style="font-size: 13px;">vergiler ve ücretler dahildir</p>
            {% endif %}

            <br><br><br>

            {% if request.user.is_authenticated %}
            <a href="/hotel/{{hotel.id}}" class="btn btn-primary">Oteli İncele</a>
            {% else %}
            <div
                style="display: flex; background-color: aqua; gap: 10px; align-items: center; padding-left: 10px; border-radius: 10px;">
                <i class="fa-solid fa-ticket"></i>
                <p style="font-size: 15px; padding-top: 12px;">Üye fiyatından yararlanılabilir</p>
            </div>
            <br><br>
            <div style="height: 50px;">
                <button class="btn btn-outline-primary"><a href="/user/login"
                        style="text-decoration: none; color: black;">Üye Fiyatı İçin Giriş Yapın</a></button>
            </div>
            <a href="/hotel/{{hotel.id}}" class="btn btn-primary">Oteli İncele</a>
            {% endif %}
        </div>
    </div>

    {% endfor %}
</div>

{% else %}
<div class="alert alert-danger" style="margin: 20px;">Gösterilecek bir otel bulunmuyor... </div>

{% endif %}

{% endblock body %}